{{>head}}
{{>header}}

<body>
    <form class="register-form" method="POST" action="/submit/basket">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Product type</th>
                    <th scope="col">Price per pack</th>
                    <th scope="col">Price per kg</th>
                    <th scope="col">Pack size</th>
                    <th scope="col">Amount in Stock</th>
                    <th scope="col">Theoretical Amount</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {{#structuredProducts}}
                <input type="hidden" value="{{productName}}" id="productName" name="productName" class="field left">
                <input type="hidden" value="{{productType}}" id="productType" name="productType" class="field left">
                <input type="hidden" value="{{pricePerPack}}" id="pricePerPack" name="pricePerPack" class="field left">
                <input type="hidden" value="{{pricePerKg}}" id="pricePerKg" name="pricePerKg" class="field left">                   
                <input type="hidden" value="{{packSize}}" id="packSize" name="packSize" class="field left">
                <input type="hidden" value="{{amountInStock}}" id="previousCount" name="previousCount" class="field left">
                <input type="hidden" value="{{theoreticalInStock}}" id="theoreticalInStock" name="theoreticalInStock" class="field left">
                
                <tr>
                    <td>{{productName}}</td>
                    <td>{{productType}}</td>
                    <td>{{pricePerPack}}</td>
                    <td>{{pricePerKg}}</td>
                    <td>{{packSize}}</td>
                    <td>{{amountInStock}}</td>
                    <td>{{theoreticalInStock}}</td>
                    <td><input class="register-input" type="text" id="amountInStock" name="amountInStock" placeholder="{{quantity}}" value="{{quantity}}"></td>        
                </tr>
                {{/structuredProducts}}
            </tbody>
        </table>
        <input class="btn-primary login-button" type="submit" name="submit" id="submit" value="Place Order">

    </form>
            <form action="/basket">
            <input type="submit" value="Update Basket" />
        </form>
</body>

{{>footer}}
