<div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Carrots</h5>
        <img class = "card-image" src="/Images/Carrots.jpg" class="card-img-top" alt="..."></a>
        <h5 class="card-title">Price per pack : £1.00</p>
        <h5 class="card-title">Pack size : 1kg</p>
        <h5 class="card-title">Price per kg : £1.00</p>
        <p class="card-text">Carrots are a hardy veg that are readily available all year round</p>
        
      </div>
      <div class="card-footer">
           <label class ="register-label" for="amount_to_order">  :</label>
        <input class ="register-input" type="number" id="amount_to_order" name="amount_to_order" value="">
        <input class ="btn-primary login-button" type="submit" name="update" id="update" value="Add to basket">
      </div>
    </div>
  </div>