<div class="col">
    <div class="card h-100">
        <a href="../../Workspace/Pages/single_item.php? product_name='.$rs['product_name'].'"></a>
      <div class="card-body">
        <h5 class="card-title">Stocks</h5>
        <img class = "card-image" src="/public/Images/Food_stock.jpg" class="card-img-top" alt="stocks image">Food Stocks</a>
        <h5 class="card-title">View my food stocks.</p>    
      </div>
    </div>
</div>
  <div class="col">
    <div class="card h-100">
        <a href="../../Workspace/Pages/single_item.php? product_name='.$rs['product_name'].'"></a>
      <div class="card-body">
        <h5 class="card-title">Sales</h5>
        <img class = "card-image" src="/public/Images/sales.jpg" class="card-img-top" alt="Sales image"></a>
        <h5 class="card-title">Check on my sales/</p>
      </div>
    </div>
</div>
<div class="col">
    <div class="card h-100">
        <a href="../../Workspace/Pages/single_item.php? product_name='.$rs['product_name'].'"></a>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <img class = "card-image" src="/public/Images/Menu.jpg" class="card-img-top" alt="menu image"></a>
        <h5 class="card-title">My Menu</p>
      </div>
    </div>
</div>
<div class="col">
    <div class="card h-100">
        <a href=""></a>
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <img class = "card-image" src="/public/Images/login.jpg" class="card-img-top" alt="Login"></a>
        <h5 class="card-title">Login</p>
      </div>
    </div>
</div>
<div class="col">
    <div class="card h-100">
        <a href=""></a>
      <div class="card-body">
        <h5 class="card-title">My orders</h5>
        <img class = "card-image" src="/public/Images/Orders.jpg" class="card-img-top" alt="My orders image"></a>
        <h5 class="card-title">My orders</p>
      </div>
    </div>
</div>

