<footer class="footer p-5 mt-auto" style="background-color: rgb(248, 249, 250);"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-md"> 
				<h5>Get in Touch</h5> 
				<ul class="list-unstyled"> 
					<li><a href="https://maps.app.goo.gl/sq8wU1QgaDAd4Pbj8">Address: N Hanover St, Glasgow G4 0BA</a></li> 
					<li><a href="tel:+441417870010">Customer Service: 0141 787 0010</a></li> 
					<li><a href="mailto:info@fsfoods.com">Email: info@fsfoods.com</a></li> 
				</ul> 
			</div> 
			<div class="col-md"> 
				<h5>Socials</h5> 
				<ul class="list-inline footer-links"> 
					<li class="list-inline-item"> 
						<a href="#"> 
							<i class="fab fa-facebook"></i> 
						</a> 
						</li> 
					<li class="list-inline-item"> 
						<a href="#"> 
							<i class="fab fa-twitter"></i> 
						</a> 
					</li> 
					<li class="list-inline-item"> 
						<a href="#"> 
							<i class="fab fa-instagram"></i> 
						</a> 
					</li> 
					<li class="list-inline-item"> 
						<a href="#"> 
							<i class="fab fa-linkedin"></i> 
						</a> 
					</li> 
				</ul> 
			</div> 
		</div> 
	</div> 
</footer> 

</div> {{! Wrapper for bottom footer spacing }}

<!-- Bootstrap JavaScript  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>

