{{>head}}
{{>header}}

<body>
	<div id="indexCards"> 
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
		<div class="col">
			<div class="card">
				<a href="./current_menu">
					<img src="/Images/Menu.jpg" class="card-img-top" alt="Current Stock">
				</a>
				<div class="card-body">
					<h5 class="card-title">My Current Menu</h5>
					<p class="card-text">Check out your Menu recipes here.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<a href="./customerOrder">
					<img src="/Images/Orders.jpg" class="card-img-top" alt="Customer order">
				</a>
				<div class="card-body">
					<h5 class="card-title">Start new order.</h5>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card">
				<a href="./update_menu">
					<img src="/Images/Recipe.jpg" class="card-img-top" alt="Sales">
				</a>
				<div class="card-body">
					<h5 class="card-title">Update a recipe</h5>
					<p class="card-text">Found a better recipe? update your menu here.</p>
				</div>
			</div>
		</div>
    </div>
</body>
</body>

{{>footer}}