         <nav >
                <ul>
                        <li><a href="./freshMeat">Fresh Meat</a></li>
                        <li><a href="./fish">Fish</a></li>
                        <li><a href="./frozen">Frozen</a></li>
                        <li><a href="./dairy">Dairy</a></li>
                        <li><a href="./fruitVeg">Fruit & Veg</a></li>
                        <li><a href="./drystore">Dry Store</a></li>
                        <li><a href="./desserts">Desserts</a></li>
                        <li><a href="./bakery">Bakery</a></li>
                        
                </ul>   
                   
        </nav>
                </section>