<ul class="nav justify-content-center">
	<li><a class="dropdown-item" href="/freshMeat">Fresh Meat</a></li>
	<li><a class="dropdown-item" href="/fish">Fish</a></li>
	<li><a class="dropdown-item" href="/frozen">Frozen</a></li>
	<li><a class="dropdown-item" href="/dairy">Dairy</a></li>
	<li><a class="dropdown-item" href="/fruitVeg">Fruit & Veg</a></li>
	<li><a class="dropdown-item" href="/dryStore">Dry Store</a></li>
	<li><a class="dropdown-item" href="/desserts">Desserts</a></li>
	<li><a class="dropdown-item" href="/bakery">Bakery</a></li>
</ul>