         <nav >
                <ul>
                        <li><a href="../../Workspace/Pages/fresh-meat.php">Fresh Meat</a></li>
                        <li><a href="../../Workspace/Pages/fish.php">Fish</a></li>
                        <li><a href="../../Workspace/Pages/frozen.php">Frozen</a></li>
                        <li><a href="../../Workspace/Pages/dairy.php">Dairy</a></li>
                        <li><a href="../../Workspace/Pages/fruit-veg.php">Fruit & Veg</a></li>
                        <li><a href="../../Workspace/Pages/dry-store.php">Dry Store</a></li>
                        <li><a href="../../Workspace/Pages/desserts.php">Desserts</a></li>
                        <li><a href="../../Workspace/Pages/bakery.php">Bakery</a></li>
                        
                </ul>   
                   
        </nav>
                </section>