{{>head}}
{{>header}}

<body>
	<div id="indexCards">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
			{{#products}}
				<div class="col">
					<form action="/post/addToBasket" method="POST">
						<div class="card">
							<img src="/Images/{{productName}}.jpg" class="card-img-top" alt="{{productName}}">
							<div class="card-body">
								<h5 class="card-title">{{productName}}</h5>
								<input type="hidden" class="form-control" id="productName" name="productName" value="{{productName}}" required>
								<p class="card-text">Product type: {{productType}}</p>
								<p class="card-text">Price per pack: {{pricePerPack}}</p>
								<p class="card-text">Pack size: {{packSize}}</p>
								<p class="card-text">Price per kg: {{pricePerKg}}</p>
								<p class="card-text">Product description: {{productDescription}}</p>
								<p class="card-text">Theoretically in Stock: {{theoreticalInStock}}</p>
								<input type="number" id="amount_to_order" name="amount_to_order"><br><br>
								<button type="submit" class="btn btn-success" name="submit">Add to basket</button>
							</div>
						</div>
					</form>
				</div>
			{{/products}}
		</div>
	</div>
</body>

{{>footer}}