{{>head}}
{{>header}}
{{>nav}} 

<body>
    {{#products}} 
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product Record</h4>
            <p class="card-text">Product name: {{product_name}}</p>
            <p class="card-text">Product type: {{product_type}}</p>
            <p class="card-text">Price per pack: {{price_per_pack}}</p>
            <p class="card-text">Pack size: {{pack_size}}</p>
            <p class="card-text">Price per kg: {{price_per_kg}}</p>
            <p class="card-text">Product description: {{product_description}}</p>
            <p class="card-text">Supplier: {{supplier}}</p>
            <p clas
        </div>
    </div>
    {{/products}} 
</body>
{{>footer}}
