{{>head}}
{{>header}}

<body>
    <form class="register-form" method="POST" action="/post/stock_count">
        <table class="table table-hover">
        

            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Product type</th>
                    <th scope="col">Price per pack</th>
                    <th scope="col">Price per kg</th>
                    <th scope="col">Pack size</th>
                    <th scope="col">Amount in Stock</th>
                    <th scope="col">Theoretical Amount</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
                {{#stock}}
                <input type="hidden" value="{{product.productName}}" id ="productName" name="productName" class="field left">
                <input type="hidden" value="{{product.productType}}" id ="productType" name="productType" class="field left">
                <input type="hidden" value="{{product.pricePerPack}}" id ="pricePerPack" name="pricePerPack" class="field left">
                <input type="hidden" value="{{product.pricePerKg}}" id ="pricePerKg" name="pricePerKg" class="field left">                   
                <input type="hidden" value="{{product.packSize}}" id ="packSize" name="packSize" class="field left">
                <input type="hidden" value="{{amountInStock}}" id ="previousCount" name="previousCount" class="field left">
                <input type="hidden" value="{{product.theoreticalInStock}}" id ="theoreticalInStock" name="theoreticalInStock" class="field left">
            <tbody>
                <tr>
                    <td >{{product.productName}}</td>
                    <td>{{product.productType}}</td>
                    <td>{{product.pricePerPack}}</td>
                    <td>{{product.pricePerKg}}</td>
                    <td>{{product.packSize}}</td>
                    <td>{{amountInStock}}</td>
                    <td>{{theoreticalInStock}}</td>
                    <td><input class ="register-input" type="text" id="{{product.productName}}" name="{{product.productName}}" placeholder="0" value="0"></td>         
                </tr>              
                                    
                {{/stock}}
                </tbody>
        </table>
        <input class ="btn-primary login-button" type="submit" name="submit" id="submit" value="Update">
    </form>       
</body>

{{>footer}}