<section class="header-title-line">
        <button class="menu-button">
            <div class="menu-icon"></div> 
        </button>
     
         <nav class="sub_nav">
                <ul>
                        <li><a href="../../Workspace/Pages/customer_update.php">Stock Count</a></li>
                        <li><a href="../../Workspace/Pages/staff_logout.php">Sales</a></li>
                        <li><a href="../../Workspace/Pages/add_product.php">My Menu</a></li>
                        <li><a href="../../Workspace/Pages/add_new_staff.php">Login</a></li>
                        <li><a href="../../Workspace/Pages/stock.php">Orders</a></li>
                     
                        
                </ul>   
                   
        </nav>
                </section>