<div class="UIcol">
    <div class="card">
        <a href="./stock">
      <div class="card-body">
        <h5 class="card-title">Stocks</h5>
        <img class = "card-image" src="/Images/Food_stock.jpg" class="card-img-top" alt="stocks image">
        <p class="card-text">Carry out all food stock counting and Reporting here</p>  </a>  
      </div>
    </div>

    <div class="card h-100">
        <a href="">
      <div class="card-body">
        <h5 class="card-title">Sales</h5>
        <img class = "card-image" src="/Images/sales.jpg" class="card-img-top" alt="Sales image">
        <p class="card-text">Sales reporting and predictions here.</p></a>
      </div>
    </div>

    <div class="card h-100">
        <a href="../../Workspace/Pages/single_item.php? product_name='.$rs['product_name'].'">
      <div class="card-body">
        <h5 class="card-title">My Menu</h5>
        <img class = "card-image" src="/Images/Menu.jpg" class="card-img-top" alt="menu image">
          <p class="card-text">Check out your saved recipes and create new ones here.</p></a>
      </div>
    </div>

    <div class="card h-100">
        <a href="">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <img class = "card-image" src="/Images/login.jpg" class="card-img-top" alt="Login">
        <p class="card-text">Login to your account here.</p></a>
      </div>
    </div>


    <div class="card h-100">
        <a href="">
      <div class="card-body">
        <h5 class="card-title">My orders</h5>
        <img class = "card-image" src="/Images/Orders.jpg" class="card-img-top" alt="My orders image">
        <p class="card-text">Check out your current orders or accept a delivery here.</p></a>
      </div>
    </div>
</div>
