<div id="indexCards"> 
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
		<div class="col">
			<div class="card">
				<a href="./stock">
					<img src="/Images/Food_stock.jpg" class="card-img-top" alt="Stock">
				</a>
				<div class="card-body">
					<h5 class="card-title">Stock</h5>
					<p class="card-text">Carry out all food stock counting and Reporting here.</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<a href="./sales">
					<img src="/Images/sales.jpg" class="card-img-top" alt="Sales">
				</a>
				<div class="card-body">
					<h5 class="card-title">Sales</h5>
					<p class="card-text">Sales reporting and predictions here.</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<a href="./menu">
					<img src="/Images/Menu.jpg" class="card-img-top" alt="Menu">
				</a>
				<div class="card-body">
					<h5 class="card-title">My Menu</h5>
					<p class="card-text">Check out your saved recipes and create new ones here.</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<a href="./login">
					<img src="/Images/login.jpg" class="card-img-top" alt="Login">
				</a>
				<div class="card-body">
					<h5 class="card-title">Login</h5>
					<p class="card-text">Login to your account here.</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<a href="./orders">
					<img src="/Images/Orders.jpg" class="card-img-top" alt="Orders">
				</a>
				<div class="card-body">
					<h5 class="card-title">My Orders</h5>
					<p class="card-text">Check out your current orders or accept a delivery here.</p>
				</div>
			</div>
		</div>
	</div>
</div>