{{>head}}
{{>header}}

<body>
	<div id="indexCards">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
			{{#items}}
				<div class="col">
					<div class="card">
						<div class="card-body">
                        <form>
							<h5 class="card-title">Name:{{name}}</h5><input type="text" id="productName" name="productName" placeholder={{name}}></h5>
                            <p class="card-text">Ingredients:
                            <ul class="list-group">
                                {{#ingredients}}
                                <li class="list-group-item">{{key.productName}}<br><input type="text" id="ingredients" name="ingredients" placeholder= ({{value}})kg>
                                {{/ingredients}}
                            </ul></p>
                            <p class="card-text">Price:<br><input type="text" id="price" name="price" placeholder={{price}}></p>
                         	<div class="form-floating">
 							 <textarea class="form-control" placeholder="{{recipe}}" id="floatingTextarea2" style="height: 100px"></textarea>
  								<label for="floatingTextarea2">Recipe:</label>
							</div>
							<br>
							<button type="submit" class="btn btn-success">Update</button>
						</form>
					</div>
				</div>
			{{/items}}
		</div>
	</div>
</body>

{{>footer}}